{% extends 'products/base.html' %}
{% load static %}


{% block css %}
    <link href="{% static '/vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <!--    <div class="alert alert-light text-center" role="alert">-->
        <!--        РРЅС„РѕСЂРјР°С†РёРѕРЅРЅРѕРµ СЃРѕРѕР±С‰РµРЅРёРµ-->
        <!--    </div>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">Продажа Шин 96</h1>
                    <p>
                        Большой ассортимент шин и дисков.
                        Бесплатная доставка по Екатеринбургу.
                        Trade-in. Скидка постоянным покупателям.
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products:index' %}">
                            Начать покупки
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{

